section {
    display:grid; 
 grid-template-columns: 1fr  1fr 1fr 1fr;
}
article{
    background-color: antiquewhite;
    grid-column: 1/4; 
}
aside {
    background-color: blanchedalmond;
    padding-right: 35px;
    grid-column: 4/5x; 
}
nav{
     background-color: lavender;
}
h3{
    margin-left: 500px;
    margin-top: 25px;
}
p {
    margin: 200px;
}
img{
    margin-left: 220px;
}