section {
    margin: 20px;
    display:grid; 
 grid-template-columns: 1fr  1fr 1fr 1fr;
}
article{
    background-color: antiquewhite;
    grid-column: 1/4;
}
aside {
    background-color: blanchedalmond;
    padding-right: 35px;
    grid-column: 4/5x; 
}
nav{
     background-color: lavender;
}
h1{
    margin: 430px;
}
h5{
    margin: 480px;
}