section {
    display:grid; 
 grid-template-columns: 1fr  1fr 1fr 1fr;
 background-color: #e2f3f5;
}
article{
    grid-column: 1/4;
    margin: 18px;
}
audio{
    grid-column: 1/4;
}
aside {
    padding-right: 35px;
    grid-column: 4/5x; 
}
nav{
    background-color: #c5e3f6;

}
header{
    background-color: #cabbe9;
    color: #a56cc1;
}
h1 {
    margin-left: 430px;
}
h5{
    margin-left: 480px;
}
iframe {
    margin-left: 80px;
}
