section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #c5e3f6;
}
article
{
    grid-column: 1/4;
    margin: 20px;
}
img{
    grid-column: 1/4;
}
aside{
    padding-right: 35px;
    grid-column: 4/5x;
}
nav{
    background-color: #fcefee;
}
header{
    background-color: #fccde2;
    color: #fc5c9c;
}
h1{
    margin: 430px;
}
h5{
    margin: 480px;
}